body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
}

header img {
    width: 100%;
    height: 400px; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 800px;
}

form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form label, form select, form input[type="text"], form input[type="submit"] {
    margin: 10px;
}

form input[type="date"] {
    width: 100%;
}

section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 800px;
}

#room-options, #room-info {
    flex: 1;
    padding: 20px;
    max-width: 400px;
}

#room-info h2, #room-info p {
    margin: 10px;
}

@media screen and (max-width: 768px) {
    form, section {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }
    
    form div {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin-bottom: 10px;
    }
    
    #room-options, #room-info {
        max-width: 100%;
        margin-bottom: 10px;
    }
   
    #room-info {
        border-left: none;
        border-top: 1px solid #ccc;
    }
  
}
.room-selection {
    display: flex;
    flex-direction: column;
}
.guests {
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

.room {
    display: flex;
    justify-content: space-between;
}

.guest-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:20px;
    align-items: center;}

.room-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#guest-number{
    width: 50px;
    margin: 0px 20px;
}
#container{
    display: flex;
}