<!DOCTYPE html>
<html>
<head>
    <title>The Royal Hotel</title>
    <link rel="stylesheet" href="styles.css"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.js"></script>
    <script src="selectroom.js"></script>
</head>
<body>
    <header>
        <div class="navbar">
            <a href="/home">The Royal </a>
            <a href="/availability">Availability</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/policies">Policies</a>
          </div>
        <img src="images/hotel_image.jpeg" alt="The Royal Hotel">
    </header>
    <main>
        <form action="/book" method="post">
            <div>
                <div class="date-range">
                    <label for="date-range">Select Dates:</label>
                    <input type="text" id="date-range">
                </div>
                <script>
                    $(function() {
                        var start = moment();
                        var end = moment().add(1, 'days');
                        $('#date-range').daterangepicker({
                            autoUpdateInput: false,
                            opens: 'left', 
                            minDate: start, 
                            startDate: start, 
                            endDate: end, 
                            locale: {
                                format: 'YYYY-MM-DD',
                            }
                        });
                        $('#date-range').val(start.format('YYYY-MM-DD') + ' → ' + end.format('YYYY-MM-DD'));
                        $('#date-range').on('apply.daterangepicker', function(ev, picker) {
                            $(this).val(picker.startDate.format('YYYY-MM-DD') + ' → ' + picker.endDate.format('YYYY-MM-DD'));
                        });
            
                        $('#date-range').on('cancel.daterangepicker', function(ev, picker) {
                            $(this).val('');
                        });
                    });
                </script>
                <div class="room-selection">
                    <label for="room">Select rooms and guests:</label>
                    <p id="toggle" style="cursor:pointer;">1 Room, 1 Guest</p>
                </div>
                <script src="selectroom.js"></script>
                <div class="promo">
                    <label for="promo_code">Promo Code:</label>
                    <input type="text" id="promo_code" name="promo_code">
                </div>
                <button type="button" id="check-availability" >CHECK AVAILABILITY</button>
            </div>
        </form>
        <div id="guests" class="guests">
            <div class="room" id="room-container">
                <table id="table">
                    <tr>
                        <td></td>
                        <td><div class="label">
                            <label for="adults1">Adults </label><br>
                            <label for="adults1">(Ages 12 or more)</label><br>
                        </div></td>
                        <td><div class="label">
                            <label for="children1">Children</label><br>
                            <label for="children1">(Ages 0-11)</label><br>
                        </div></td>
                    </tr>
                    <tr>
                        <td><div class="room-label"><label >Room 1:</label></div></td>
                        <td>
                            <div class="guest-type">
                                <div id="container">
                                    <button onclick="updateGuests(this, -1)" disabled="true">-</button>
                                    <label class="guest-number" name="adults1">1</label>
                                    <button onclick="updateGuests(this, 1)">+</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="guest-type">
                                <div id="container">
                                    <button onclick="updateGuests(this, -1)" disabled="true">-</button>
                                    <label class="guest-number" name="children1">0</label>
                                    <button onclick="updateGuests(this, 1)" data-type="children">+</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="room-buttons">
                <button type="button" id="add-room" onclick="addRoom()">Add additional room</button><br>
                <button type="submit" >Done</button>
            </div>
        </div>
        
        <section>
            <div id="room-options">
            </div>

            <div id="room-info">
                <h2>Stay details: </h2>
                <div >
                    <ul class="selected-rooms">
                    </ul>
                </div>
                <input type="button" value="Book Now">
            </div>
        </section>
    </main>
   
</body>
</html>
